<component name="ArtifactManager">
  <artifact name="plugin">
    <output-path>$PROJECT_DIR$/out/artifacts/plugin</output-path>
    <properties id="ant-postprocessing">
      <options enabled="true">
        <file>file://$PROJECT_DIR$/ant.build.xml</file>
        <target>replace-tokens-in-teamcity-plugin-xml</target>
      </options>
    </properties>
    <properties id="ant-preprocessing">
      <options>
        <file>file://$PROJECT_DIR$/ant.build.xml</file>
        <target>replace-tokens-in-teamcity-plugin-xml</target>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="agent">
        <element id="artifact" artifact-name="powershell-agent-zip" />
      </element>
      <element id="directory" name="server">
        <element id="artifact" artifact-name="powershell-common" />
        <element id="artifact" artifact-name="powershell-server" />
      </element>
      <element id="file-copy" path="$PROJECT_DIR$/teamcity-plugin.xml" />
    </root>
  </artifact>
</component>